In [1]:
import json
import csv
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from datetime import datetime
import re

In [2]:
pd.options.display.max_colwidth =170

In [3]:
train = pd.read_json(r"C:\Users\risha\Desktop\convolve-epoch1\train.json",typ = 'dataframe').to_frame('count')

In [4]:
train.reset_index(inplace = True)
train.rename(columns = {'index':'log'}, inplace = True)

In [5]:
train['log'] = train['log'].map(lambda x: x.rstrip('\n'))

In [6]:
train

,log,count
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4152654,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.386651 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152655,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.558220 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152656,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.675784 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152657,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.777307 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152658,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.937080 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly

In [289]:
train['count'].value_counts()

normal     4082967
anomaly      69692
Name: count, dtype: int64

In [286]:
dataa = pd.merge(df_1, train, on = 'log' , how = 'left')

In [295]:
dataa

,log,count
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4747958,KERNSOCK 1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,NaN
4747959,KERNSOCK 1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,NaN
4747960,KERNSOCK 1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,NaN
4747961,KERNSOCK 1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,NaN
4747962,KERNSOCK 1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,NaN

In [288]:
dataa['count'].value_counts()

normal     4082971
anomaly      69692
Name: count, dtype: int64

In [282]:
df_1.columns = ['log']

In [283]:
df_1['log'] = df_1['log'].map(lambda x: x.lstrip('-'))

In [118]:
df_2 = pd.read_csv(r"C:\Users\risha\Desktop\convolve-epoch1\BGL.log\BGL.log", sep = '\s\s+', engine = 'python', header  = None)

In [209]:
df_1[0] = df_1[0].str.strip()

In [115]:
# change file here
# In the first column of the log, "-" indicates non-alert messages while others are alert messages.
# def count_anomaly():
total_size = 0
normal_size = 0
with open(r"C:\Users\risha\Desktop\convolve-epoch1\BGL.log\xbh.txt", encoding="utf8") as f:
    for line in f:
        total_size += 1
        if line.split(' ',1)[0] == '-':
            normal_size += 1
            df_1['Class'] = 0
        else: 
            df_1['Class'] = 1
print("total size {}, abnormal size {}".format(total_size, total_size - normal_size))

total size 100000, abnormal size 33476

In [72]:
df_1.columns = ['Log', 'Class']

In [245]:
df_1['Log'] = df_1['Log'].map(lambda x: x.lstrip('-'))

In [90]:
test = pd.read_csv(r"C:\Users\risha\Desktop\convolve-epoch1\test.csv")

In [102]:
df[df['Log'] == 'KERNMNTF 1126192206 2005.09.08 R70-M1-N4-I:J18-U01 2005-09-08-08.10.06.333352 R70-M1-N4-I:J18-U01 RAS KERNEL FATAL Lustre mount FAILED : bglio904 : point /p/gb1']

,Unnamed: 0,Log,Class
3353739,53739,KERNMNTF 1126192206 2005.09.08 R70-M1-N4-I:J18-U01 2005-09-08-08.10.06.333352 R70-M1-N4-I:J18-U01 RAS KERNEL FATAL Lustre mount FAILED : bglio904 : point /p/gb1,normal

In [92]:
test['Log'] = test['Log'].map(lambda x: x.rstrip('\n'))

In [154]:
df_1.columns = ['Log']

In [127]:
split_df = df_1[0].str.split('-', n = 1)

In [188]:
df_1['Log'] = df_1['Log'].map(lambda x: x.lstrip('-'))

In [212]:
df_1.columns = ['Log']

In [247]:
df_1

                                                                                                                                                                      Log
0                       1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
1                       1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
2                       1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
3                       1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
4                       1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
...                                                                                                                                                                   ...
4747958  KERNSOCK 1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747959  KERNSOCK 1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747960  KERNSOCK 1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747961  KERNSOCK 1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747962  KERNSOCK 1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed

[4747963 rows x 1 columns]

In [13]:
dataa = df_1['Log'].str.split('-', n = 1,expand = True)

In [14]:
dataa

,0,1
0,,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
1,,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
2,,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
3,,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
4,,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
...,...,...
4747958,KERNSOCK 1136390405 2006.01.04 R00,M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747959,KERNSOCK 1136390405 2006.01.04 R36,M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747960,KERNSOCK 1136390405 2006.01.04 R30,M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747961,KERNSOCK 1136390405 2006.01.04 R31,M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747962,KERNSOCK 1136390405 2006.01.04 R34,M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed

In [15]:
anomaly = dataa.drop(dataa[dataa[0] == ' '], axis = 0, inplace = True)
# normal['Label'] = 'normal'

In [45]:
df_2

                                                                                                                                                                      Log
0                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
1                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
2                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
3                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
4                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
...                                                                                                                                                                   ...
4747958  KERNSOCK 1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747959  KERNSOCK 1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747960  KERNSOCK 1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747961  KERNSOCK 1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747962  KERNSOCK 1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed

[4747963 rows x 1 columns]

In [224]:
# df_1.drop(['Loglo'], axis = 1, inplace = True)

In [43]:
' '.join(df_1.Log[4747962].split(' ')[0:1])
' '.join(df_1.Log[0].split(' ')[1:])

'1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected'

In [20]:
i = 0
lm = []
for i in range(4747963):
    lm.append(' '.join(df_1.Log[i].split(' ')[0:1]))

In [22]:
ls = pd.Series(lm)

In [23]:
ls.value_counts()

-            4399503
KERNDTLB      152734
KERNSTOR       63491
APPSEV         49651
KERNMNTF       31531
KERNTERM       23338
KERNREC         6145
APPREAD         5983
KERNRTSP        3983
APPRES          2370
APPUNAV         2048
APPTO           1991
KERNMICRO       1503
APPOUT           816
KERNMNT          720
APPBUSY          512
KERNMC           342
APPCHILD         320
KERNSOCK         209
KERNPOW          192
LINKIAP          166
APPALLOC         144
KERNSERV          94
MASABNORM         37
LINKDISC          24
KERNPAN           18
KERNCON           16
KERNNOETH         14
LINKPAP           14
MONPOW            12
MASNORM           10
APPTORUS          10
KERNPROG           5
MMCS               3
KERNFLOAT          3
KERNRTSA           3
LINKBLL            2
MONNULL            2
KERNBIT            1
MONILL             1
KERNEXT            1
KERNTLBE           1
dtype: int64

In [181]:
i=0

In [32]:
label = []
for i in range(4747963):
    if (ls[i] == '-'):
        label.append('normal')
    else:
        label.append('anomaly')

In [33]:
label_series = pd.Series(label)

In [34]:
label_series.value_counts()

normal     4399503
anomaly     348460
dtype: int64

In [190]:
Log = df_1['Log']

In [192]:
list_o = list(zip(Log,label))

In [193]:
dataa = pd.DataFrame(list_o, columns = ['Log', 'Label'])

In [38]:
test_1[' Log'] = test_1[' Log'].map(lambda x: x.rstrip('\n'))

In [39]:
test_1

,ID,Log
0,0,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001
1,1,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-22.12.55.707149 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
2,2,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.27.13.042387 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
3,3,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 2005-06-05-10.29.26.943462 R30-M1-N6-C:J03-U11 RAS KERNEL INFO generating core.6463
4,4,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.16.05.049256 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
...,...,...
595295,595295,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 2005-06-14-09.57.14.709136 R20-M0-NA-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000
595296,595296,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 2005-06-09-19.35.47.353971 R15-M0-NA-C:J02-U01 RAS KERNEL INFO generating core.10895
595297,595297,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595298,595298,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595299,595299,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680

In [60]:
df_1

                                                                                                                                                           Log
0                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.363779 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
1                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.527847 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
2                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.675872 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
3                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.823719 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
4                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.982731 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
...                                                                                                                                                        ...
4747958  KERNSOCK 1136390405 2006.01.04 R00M0NCI:J18U11 2006010408.00.05.167045 R00M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747959  KERNSOCK 1136390405 2006.01.04 R36M0NCI:J18U11 2006010408.00.05.185942 R36M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747960  KERNSOCK 1136390405 2006.01.04 R30M0NCI:J18U11 2006010408.00.05.186013 R30M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747961  KERNSOCK 1136390405 2006.01.04 R31M0NCI:J18U11 2006010408.00.05.204230 R31M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747962  KERNSOCK 1136390405 2006.01.04 R34M0NCI:J18U11 2006010408.00.05.233639 R34M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed

[4747963 rows x 1 columns]

In [42]:
label_series.tail()

4747958    anomaly
4747959    anomaly
4747960    anomaly
4747961    anomaly
4747962    anomaly
dtype: object

In [24]:
test_1 = pd.read_csv(r"C:\Users\risha\Desktop\convolve-epoch1\test.csv")

In [28]:
test_1.shape

(595300, 2)

In [122]:
ultra_label = pd.DataFrame({'Log':df_2['Log'],'Label':label})

In [84]:
df_1

                                                                                                                                                                        0
0                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
1                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
2                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
3                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
4                     - 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected
...                                                                                                                                                                   ...
4747958  KERNSOCK 1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747959  KERNSOCK 1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747960  KERNSOCK 1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747961  KERNSOCK 1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747962  KERNSOCK 1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed

[4747963 rows x 1 columns]

In [86]:
df_2

                                                                                                                                                          Logs
0                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.363779 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
1                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.527847 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
2                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.675872 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
3                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.823719 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
4                       1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.982731 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected
...                                                                                                                                                        ...
4747958  KERNSOCK 1136390405 2006.01.04 R00M0NCI:J18U11 2006010408.00.05.167045 R00M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747959  KERNSOCK 1136390405 2006.01.04 R36M0NCI:J18U11 2006010408.00.05.185942 R36M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747960  KERNSOCK 1136390405 2006.01.04 R30M0NCI:J18U11 2006010408.00.05.186013 R30M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747961  KERNSOCK 1136390405 2006.01.04 R31M0NCI:J18U11 2006010408.00.05.204230 R31M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed
4747962  KERNSOCK 1136390405 2006.01.04 R34M0NCI:J18U11 2006010408.00.05.233639 R34M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed

[4747963 rows x 1 columns]

In [81]:
df_2.columns = ['Logs']

In [82]:
df_2['Logs'] = df_2['Logs'].map(lambda x: x.replace('-',''))

In [90]:
df_1.iloc[67676]

0    - 1117982599 2005.06.05 R32-M0-ND-C:J11-U01 2005-06-05-07.43.19.177710 R32-M0-ND-C:J11-U01 RAS KERNEL INFO generating core.977
Name: 67676, dtype: object

In [107]:
ultra_label

,Log,Label
0,1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.363779 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.527847 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.675872 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.823719 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02M1N0C:J12U11 2005060315.42.50.982731 R02M1N0C:J12U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4747958,KERNSOCK 1136390405 2006.01.04 R00M0NCI:J18U11 2006010408.00.05.167045 R00M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747959,KERNSOCK 1136390405 2006.01.04 R36M0NCI:J18U11 2006010408.00.05.185942 R36M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747960,KERNSOCK 1136390405 2006.01.04 R30M0NCI:J18U11 2006010408.00.05.186013 R30M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747961,KERNSOCK 1136390405 2006.01.04 R31M0NCI:J18U11 2006010408.00.05.204230 R31M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747962,KERNSOCK 1136390405 2006.01.04 R34M0NCI:J18U11 2006010408.00.05.233639 R34M0NCI:J18U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly

In [112]:
test_1

,ID,Log
0,0,1124336301 2005.08.17 R13M1N8C:J12U01 2005081720.38.21.466368 R13M1N8C:J12U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001
1,1,1118553175 2005.06.11 R30M0N9C:J16U01 2005061122.12.55.707149 R30M0N9C:J16U01 RAS KERNEL FATAL data TLB error interrupt
2,2,1118536033 2005.06.11 R30M0N9C:J16U01 2005061117.27.13.042387 R30M0N9C:J16U01 RAS KERNEL FATAL data TLB error interrupt
3,3,1117992566 2005.06.05 R30M1N6C:J03U11 2005060510.29.26.943462 R30M1N6C:J03U11 RAS KERNEL INFO generating core.6463
4,4,1118538965 2005.06.11 R30M0N9C:J16U01 2005061118.16.05.049256 R30M0N9C:J16U01 RAS KERNEL FATAL data TLB error interrupt
...,...,...
595295,595295,1118768234 2005.06.14 R20M0NAC:J17U11 2005061409.57.14.709136 R20M0NAC:J17U11 RAS KERNEL FATAL exception syndrome register: 0x00800000
595296,595296,1118370947 2005.06.09 R15M0NAC:J02U01 2005060919.35.47.353971 R15M0NAC:J02U01 RAS KERNEL INFO generating core.10895
595297,595297,1118540242 2005.06.11 R30M0N9C:J16U01 2005061118.37.22.743936 R30M0N9C:J16U01 RAS KERNEL FATAL data TLB error interrupt
595298,595298,1118538947 2005.06.11 R30M0N9C:J16U01 2005061118.15.47.247097 R30M0N9C:J16U01 RAS KERNEL FATAL data TLB error interrupt
595299,595299,1118165805 2005.06.07 R23M1N5C:J16U11 2005060710.36.45.002573 R23M1N5C:J16U11 RAS KERNEL INFO generating core.680

In [113]:
ultra_label[ultra_label['Log'] == '1118370947 2005.06.09 R15M0NAC:J02U01 2005060919.35.47.353971 R15M0NAC:J02U01 RAS KERNEL INFO generating core.10895']

Empty DataFrame
Columns: [Log, Label]
Index: []

In [97]:
# test_1
test_1[' Log'] = test_1[' Log'].map(lambda x: x.replace('-',''))

In [109]:
test_1.iloc[5678]

ID                                                                                                                          5678
 Log     1118538752 2005.06.11 R30M0N9C:J16U01 2005061118.12.32.648924 R30M0N9C:J16U01 RAS KERNEL FATAL data TLB error interrupt
Name: 5678, dtype: object

In [116]:
train

,log,count
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4152654,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.386651 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152655,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.558220 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152656,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.675784 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152657,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.777307 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152658,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.937080 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly

In [101]:
test = pd.read_csv(r"C:\Users\risha\Desktop\convolve-epoch1\test.csv")

In [104]:
test

,ID,Log
0,0,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001
1,1,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-22.12.55.707149 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
2,2,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.27.13.042387 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
3,3,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 2005-06-05-10.29.26.943462 R30-M1-N6-C:J03-U11 RAS KERNEL INFO generating core.6463
4,4,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.16.05.049256 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
...,...,...
595295,595295,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 2005-06-14-09.57.14.709136 R20-M0-NA-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000
595296,595296,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 2005-06-09-19.35.47.353971 R15-M0-NA-C:J02-U01 RAS KERNEL INFO generating core.10895
595297,595297,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595298,595298,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595299,595299,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680

In [103]:
test[' Log'] = test[' Log'].map(lambda x: x.rstrip('\n'))

In [138]:
normal = ultra_label[ultra_label['Log'].str.startswith('-')]

In [191]:
anomaly = ultra_label[ultra_label['Label'] == 'anomaly']

In [187]:
anomaly.iloc[0,0]

'APPREAD 1117869872 2005.06.04 R23-M1-N8-I:J18-U11 2005-06-04-00.24.32.398284 R23-M1-N8-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:33399'

In [194]:
anomaly['Log'] =anomaly['Log'].apply(lambda x: ' '.join(x.split(' ')[1:]))

C:\Users\risha\AppData\Local\Temp\ipykernel_15256\596131317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anomaly['Log'] =anomaly['Log'].apply(lambda x: ' '.join(x.split(' ')[1:]))

In [195]:
anomaly

,Log,Label
14737,1117869872 2005.06.04 R23-M1-N8-I:J18-U11 2005-06-04-00.24.32.398284 R23-M1-N8-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14738,1117869872 2005.06.04 R04-M1-N4-I:J18-U11 2005-06-04-00.24.32.432192 R04-M1-N4-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14739,1117869872 2005.06.04 R04-M1-N4-I:J18-U01 2005-06-04-00.24.32.481570 R04-M1-N4-I:J18-U01 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14740,1117869873 2005.06.04 R35-M1-N0-I:J18-U11 2005-06-04-00.24.33.168659 R35-M1-N0-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14741,1117869873 2005.06.04 R35-M1-N0-I:J18-U01 2005-06-04-00.24.33.203068 R35-M1-N0-I:J18-U01 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
...,...,...
4747958,1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747959,1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747960,1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747961,1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747962,1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly

In [147]:
normal

,Log,Label
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4747950,1136389653 2006.01.04 R30-M0-N7-C:J09-U01 2006-01-04-07.47.33.235475 R30-M0-N7-C:J09-U01 RAS KERNEL INFO total of 1 ddr error(s) detected and corrected over 723 seconds,normal
4747951,"1136389988 2006.01.04 R35-M0-N0-C:J11-U11 2006-01-04-07.53.08.803272 R35-M0-N0-C:J11-U11 RAS KERNEL INFO 5 ddr error(s) detected and corrected on rank 0, symbol 4 ov...",normal
4747952,1136389988 2006.01.04 R35-M0-N0-C:J11-U11 2006-01-04-07.53.08.946438 R35-M0-N0-C:J11-U11 RAS KERNEL INFO total of 5 ddr error(s) detected and corrected over 27362 se...,normal
4747953,1136389989 2006.01.04 R35-M1-NA-C:J09-U01 2006-01-04-07.53.09.073382 R35-M1-NA-C:J09-U01 RAS KERNEL INFO 87 L3 EDRAM error(s) (dcr 0x0157) detected and corrected ove...,normal
4747954,1136389989 2006.01.04 R35-M1-NA-C:J09-U01 2006-01-04-07.53.09.200410 R35-M1-NA-C:J09-U01 RAS KERNEL INFO 87 L3 EDRAM error(s) (dcr 0x0157) detected and corrected ove...,normal

In [146]:
normal['Log'] = normal['Log'].str[1:]

C:\Users\risha\AppData\Local\Temp\ipykernel_15256\2556908293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normal['Log'] = normal['Log'].str[1:]

In [125]:
test

,ID,Log
0,0,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001
1,1,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-22.12.55.707149 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
2,2,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.27.13.042387 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
3,3,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 2005-06-05-10.29.26.943462 R30-M1-N6-C:J03-U11 RAS KERNEL INFO generating core.6463
4,4,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.16.05.049256 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
...,...,...
595295,595295,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 2005-06-14-09.57.14.709136 R20-M0-NA-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000
595296,595296,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 2005-06-09-19.35.47.353971 R15-M0-NA-C:J02-U01 RAS KERNEL INFO generating core.10895
595297,595297,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595298,595298,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595299,595299,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680

In [142]:
normal['Log'] = normal['Log'].str.strip(' ')

C:\Users\risha\AppData\Local\Temp\ipykernel_15256\2819167742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normal['Log'] = normal['Log'].str.strip('')

In [131]:
ultra_label

,Log,Label
0,- 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,- 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,- 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,- 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,- 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4747958,KERNSOCK 1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747959,KERNSOCK 1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747960,KERNSOCK 1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747961,KERNSOCK 1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747962,KERNSOCK 1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly

In [196]:
normal

,Log,Label
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4747950,1136389653 2006.01.04 R30-M0-N7-C:J09-U01 2006-01-04-07.47.33.235475 R30-M0-N7-C:J09-U01 RAS KERNEL INFO total of 1 ddr error(s) detected and corrected over 723 seconds,normal
4747951,"1136389988 2006.01.04 R35-M0-N0-C:J11-U11 2006-01-04-07.53.08.803272 R35-M0-N0-C:J11-U11 RAS KERNEL INFO 5 ddr error(s) detected and corrected on rank 0, symbol 4 ov...",normal
4747952,1136389988 2006.01.04 R35-M0-N0-C:J11-U11 2006-01-04-07.53.08.946438 R35-M0-N0-C:J11-U11 RAS KERNEL INFO total of 5 ddr error(s) detected and corrected over 27362 se...,normal
4747953,1136389989 2006.01.04 R35-M1-NA-C:J09-U01 2006-01-04-07.53.09.073382 R35-M1-NA-C:J09-U01 RAS KERNEL INFO 87 L3 EDRAM error(s) (dcr 0x0157) detected and corrected ove...,normal
4747954,1136389989 2006.01.04 R35-M1-NA-C:J09-U01 2006-01-04-07.53.09.200410 R35-M1-NA-C:J09-U01 RAS KERNEL INFO 87 L3 EDRAM error(s) (dcr 0x0157) detected and corrected ove...,normal

In [197]:
anomaly

,Log,Label
14737,1117869872 2005.06.04 R23-M1-N8-I:J18-U11 2005-06-04-00.24.32.398284 R23-M1-N8-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14738,1117869872 2005.06.04 R04-M1-N4-I:J18-U11 2005-06-04-00.24.32.432192 R04-M1-N4-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14739,1117869872 2005.06.04 R04-M1-N4-I:J18-U01 2005-06-04-00.24.32.481570 R04-M1-N4-I:J18-U01 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14740,1117869873 2005.06.04 R35-M1-N0-I:J18-U11 2005-06-04-00.24.33.168659 R35-M1-N0-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
14741,1117869873 2005.06.04 R35-M1-N0-I:J18-U01 2005-06-04-00.24.33.203068 R35-M1-N0-I:J18-U01 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStrea...,anomaly
...,...,...
4747958,1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747959,1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747960,1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747961,1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747962,1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly

In [198]:
ultra_label = pd.concat([normal,anomaly])

In [174]:
test[test[' Log'].str.startswith(' ')]

,ID,Log,Log
0,0,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001
1,1,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-22.12.55.707149 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-22.12.55.707149 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
2,2,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.27.13.042387 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.27.13.042387 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
3,3,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 2005-06-05-10.29.26.943462 R30-M1-N6-C:J03-U11 RAS KERNEL INFO generating core.6463,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 2005-06-05-10.29.26.943462 R30-M1-N6-C:J03-U11 RAS KERNEL INFO generating core.6463
4,4,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.16.05.049256 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.16.05.049256 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
...,...,...,...
595295,595295,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 2005-06-14-09.57.14.709136 R20-M0-NA-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 2005-06-14-09.57.14.709136 R20-M0-NA-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000
595296,595296,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 2005-06-09-19.35.47.353971 R15-M0-NA-C:J02-U01 RAS KERNEL INFO generating core.10895,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 2005-06-09-19.35.47.353971 R15-M0-NA-C:J02-U01 RAS KERNEL INFO generating core.10895
595297,595297,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595298,595298,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt
595299,595299,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680

In [175]:
test.drop([' Log'], axis = 1, inplace = True)

In [161]:
ultra_label[ultra_label['Log'] == ' 1118538752 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.12.32.648924 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt']

Empty DataFrame
Columns: [Log, Label]
Index: []

In [230]:
ultra_label.iloc[5679, 0]

'1117842813 2005.06.03 R23-M0-N4-C:J04-U11 2005-06-03-16.53.33.477756 R23-M0-N4-C:J04-U11 RAS KERNEL INFO 1535 double-hummer alignment exceptions'

In [229]:
ultra_label['Label'].value_counts()

normal     4399503
anomaly     348460
Name: Label, dtype: int64

In [228]:
del final

In [227]:
# test['Log'] = test['Log'].str.strip(' ')
ultra_label['Log'] = ultra_label['Log'].str.strip(' ')

In [226]:
test.iloc[595298,1]

'1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt'

In [211]:
final['Label'].value_counts()

normal    316532
Name: Label, dtype: int64

In [232]:
anomaly[anomaly['Log']== '1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt']

,Log,Label
247010,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly

In [231]:
ultra_label[ultra_label['Log'] == '1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680']

,Log,Label
164530,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680,normal

In [234]:
final = pd.merge( test, ultra_label, on = 'Log', how = 'left')

In [236]:
final['Label'].value_counts()

normal     316532
anomaly    278768
Name: Label, dtype: int64

In [246]:
normal_final = final[final['Label'] == 'normal']

In [247]:
normal_final.iloc[150000]

ID                                                                                                                              281938
Log      1118354012 2005.06.09 R21-M0-NF-C:J17-U01 2005-06-09-14.53.32.724588 R21-M0-NF-C:J17-U01 RAS KERNEL INFO generating core.2064
Label                                                                                                                           normal
Name: 281938, dtype: object

In [239]:
anomaly_final.shape

(278768, 3)

In [248]:
final

,ID,Log,Label
0,0,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001,anomaly
1,1,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-22.12.55.707149 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
2,2,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.27.13.042387 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
3,3,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 2005-06-05-10.29.26.943462 R30-M1-N6-C:J03-U11 RAS KERNEL INFO generating core.6463,normal
4,4,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.16.05.049256 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
...,...,...,...
595295,595295,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 2005-06-14-09.57.14.709136 R20-M0-NA-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000,normal
595296,595296,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 2005-06-09-19.35.47.353971 R15-M0-NA-C:J02-U01 RAS KERNEL INFO generating core.10895,normal
595297,595297,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
595298,595298,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
595299,595299,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680,normal

In [249]:
final.to_csv('this.csv')

In [254]:
final.iloc[60000]

ID                                                                                                                               60000
Log      1118370977 2005.06.09 R02-M0-NA-C:J12-U11 2005-06-09-19.36.17.177311 R02-M0-NA-C:J12-U11 RAS KERNEL INFO generating core.2453
Label                                                                                                                           normal
Name: 60000, dtype: object

In [255]:
from sklearn.metrics import accuracy_score

In [257]:
ultra_label

,Log,Label
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4747958,1136390405 2006.01.04 R00-M0-NC-I:J18-U11 2006-01-04-08.00.05.167045 R00-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747959,1136390405 2006.01.04 R36-M0-NC-I:J18-U11 2006-01-04-08.00.05.185942 R36-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747960,1136390405 2006.01.04 R30-M0-NC-I:J18-U11 2006-01-04-08.00.05.186013 R30-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747961,1136390405 2006.01.04 R31-M0-NC-I:J18-U11 2006-01-04-08.00.05.204230 R31-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly
4747962,1136390405 2006.01.04 R34-M0-NC-I:J18-U11 2006-01-04-08.00.05.233639 R34-M0-NC-I:J18-U11 RAS KERNEL FATAL idoproxy communication failure: socket closed,anomaly

In [261]:
train.drop(['log'], axis = 1, inplace = True)

In [262]:
train_merge = pd.merge(train, ultra_label, on = 'Log', how = 'left')

In [265]:
accuracy_score(train[' Label'], train_merge[' Label'])

KeyError: ' Label'